@model IEnumerable<Dominio.Entidades.Cliente>

@{
    ViewBag.Title = "Listado";
}

<h2 class="text-center text-primary">Listado de Clientes</h2>

<p>
    @Html.ActionLink("Nuevo Cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idcliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreCia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idpais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idcliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreCia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idpais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.idcliente }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.idcliente }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.idcliente })
        </td>
    </tr>
}

</table>
